<h2>Please Sign In</h2>
<div ng-controller="LoginController">
<form id="form" role="form" >
<div class="form-group">
<p><label for="email" >UserName:</label></p>
<p> <input type="email" class="form-control" id="email" name="email" ng-model="newuser.email"></p>
</div>
<div class="form-group">
<p><label for="pwd"> Password: </label></p> 
 <p><input type="password" class="form-control" id="pwd" name="password" ng-model="newuser.password"></p>
 </div>
 <div class="checkbox">
 <p><label><input type="checkbox"> Remember Me</label></p> 
 </div>
 <input type="hidden" ng-model="newuser.id">
 <p><button type="save" class="btn btn-submit" ng-click="saveUser()">Save</button></p>
</form>
<form role="form" id="form1">
<div ng-init="" ></div>
<table id="tbl">
<tr>
    <td><b>Email</b></td>
    <td><b>Password</b></td>
    <td><b>Action</b></td>
   </td> 
   
</tr>

<tr ng-repeat="user in usersdata" >
    <td>{{ user.email }}</td>
    <td>{{ user.password }}</td>    
    <td>
        <a href="#" ng-click="edit(user.id)">Edit</a> | 
        <a href="#" ng-click="delete(user.id)">Delete</a>
    </td>
 </tr>
</table>
</div>
</form>
