<!DOCTYPE html>
<html>
<head>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<link rel="stylesheet" href="F:\Angular Examples\model\style.css"/>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
</head>

<body ng-app="app" >
<div ng-controller="UserController" id="maindiv">
 
<div id="divlink">
 <a href="#" > HOME </a>  
 <a href="#"> SIGN IN </a>
</div>
<form id="form" role="form" >
<div class="form-group">
<label for="email" >UserName:</label>
 <input type="email" class="form-control" id="email" name="email" ng-model="newuser.email">
</div>
<div class="form-group">
<label for="pwd"> Password: </label> 
 <input type="password" class="form-control" id="pwd" name="password" ng-model="newuser.password"></p>
 </div>
 <div class="checkbox">
 <label><input type="checkbox"> Remember Me</label> 
 </div>
 <input type="hidden" ng-model="newuser.id">
 <button type="save" class="btn btn-submit" ng-click="saveUser()">Save</button>
</form>
<form role="form" id="form1">
<div ng-init="" ></div>
<table id="tbl">
<tr>
    <td><b>Email</b></td>
    <td><b>Password</b></td>
    <td><b>Action</b></td>
   </td> 
   
</tr>

<tr ng-repeat="user in usersdata" >
    <td>{{ user.email }}</td>
    <td>{{ user.password }}</td>    
    <td>
        <a href="#" ng-click="edit(user.id)">Edit</a> | 
        <a href="#" ng-click="delete(user.id)">Delete</a>
    </td>
 </tr>
</table>
</form>
<script type="text/javascript" src="jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="UserDataController.js"></script>

</body>
</html>
