#divlink{
display:vertical;
}
#form{
position:fixed;
top:30%;
left:550px;
border: 2px solid #8A2BE2 ;
padding-top:10px;
padding-bottom:10px;
padding-right:50px;
padding-left:50px;
border-radius:25px;
}
#email{
border: 2px solid blue;
height:25px;
}
#pwd{
border: 2px solid blue;
height:25px;
}

body{
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
	  background-color: #F0FFFF;
}
#maindiv{
background-color: #F0FFFF;
}
#tbl{
border: 2px solid #1E90FF ;
width:300px;
 border-spacing: 5px;
 border-collapse: collapse;
}
body{
  background-color: #F0FFFF;
}
#nav{
list-style-type: none;
display:horizontal;
}
#maindiv{
background-color: #F0FFFF;
}
#navdiv{
display:horizontal;
}
#navdiv ul li{
display:inline;
}